.add-message-input-container {
    display: flex;
    flex: 0 0 auto;
    padding: 0 10px;
}

.add-message-input-container .add-message-input {
    margin-top: 10px;
    padding: 5px;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: 5px;
    flex: 1 1 100%;
    font-size: 18px;
    outline: none;
}