.message-container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.message {
    padding: 5px;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: 5px;
    margin: 5px 0;
    flex: 0 1 60%;
    display: flex;
}

.message-content {
    flex: 1 1;
    display: flex;
    flex-direction: column;
}

.message-text {
    flex: 1;
    font-weight: bold;
    word-break: break-all;
}

.message-date {
    font-size: 0.7em;
    color: #c5c5c5;
    margin: 5px;
}

.remove-button {
    flex: 0 0;
    margin: 0 5px;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    color: inherit;
    outline: none;
    cursor: pointer;
}

.remove-button:after {
    content: '×';
}

.message-arrow {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid rgba(34, 36, 38, .15);
}
