#app-container {
    display: flex;
    height: 100%;
    justify-content: center;
}

.chat-container {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: #FBF9F9;
}

.scroll-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto;
    flex: 1 1 100%;
    padding: 0 10px;
}

.messages-container {
    display: flex;
    flex-direction: column;

}